<div>
    <h5 class="font-semibold">Overdue</h5>
  <ul class="list-none">
    <li class="todo-item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:shadow-md hover:bg-slate-700"
      >
        <input
          id="todo-checkbox-1"
          type="checkbox"
          class="w-4 h-4 text-blue-600 rounded"
        />
        <label class="text-gray-300 cursor-pointer ml-2" for="todo-checkbox-1">
          Have to pay electricity bill
        </label>
        <%- include('deleteIcon.ejs') %>
      </div>
   





  <h5 class="font-semibold">Due Today</h5>
  <ul>
    <li class="todo-item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:shadow-md hover:bg-slate-700"
      >
        <input
          id="todo-checkbox-4"
          type="checkbox"
          class="w-4 h-4 text-blue-600 rounded"
        />
        <label class="text-gray-300 cursor-pointer ml-2" for="todo-checkbox-4">
          Fill the exam form
        </label>
        <%- include('deleteIcon.ejs') %>
      </div>
    </li>
   







  <h5 class="font-semibold">Due Later</h5>
  <ul>
    <li class="todo-item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:shadow-md hover:bg-slate-700"
      >
        <input
          id="todo-checkbox-6"
          type="checkbox"
          class="w-4 h-4 text-blue-600 rounded"
        />
        <label class="text-gray-300 cursor-pointer ml-2" for="todo-checkbox-6">
          Complete assignments
        </label>
        <%- include('deleteIcon.ejs') %>
      </div>
    </li>
   
        <%- include('deleteIcon.ejs') %>
      </div>
    </li>
  </ul> 
</div>